# Lombok configuration for this project
# See: https://projectlombok.org/features/configuration

# Stop searching parent directories for other lombok.config files
config.stopBubbling = true

# Add @lombok.Generated to Lombok-generated code (useful for coverage and analysis tools)
lombok.addLombokGeneratedAnnotation = true

# Prefer chained setters (e.g., obj.setX(1).setY(2)) and non-fluent accessors (getX/setX)
lombok.accessors.chain = true
lombok.accessors.fluent = false

# Use 'log' as the default logger field name
lombok.log.fieldName = log

# For classes with inheritance, include super in toString/equals/hashCode by default
lombok.toString.callSuper = call
lombok.equalsandhashcode.callSuper = call

# Avoid using the deprecated javax.annotation.Generated
lombok.addJavaxGeneratedAnnotation = false

# Generate @ConstructorProperties only when needed
lombok.anyConstructor.suppressConstructorProperties = true

# Do not use 'is' prefix for boolean getters by default
lombok.getter.noIsPrefix = true

# Will make all fields private (instead of package-private) by default in any class
lombok.fieldDefaults.defaultPrivate = true

# Will have to annotate all non-final fields with @NonFinal explicitly
# lombok.fieldDefaults.defaultFinal = true

